@import "tailwindcss";

@theme {
  --color-samizar-burgundy: #3b1c24;
  --color-samizar-dark: #1a0b10;
  --color-samizar-rosegold: #c88c75;
  --color-samizar-light: #fdfcfc;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
